@keyframes ldio-vw47hwmc49k {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-vw47hwmc49k div {
    left: 133.475px;
    top: 51.985px;
    position: absolute;
    animation: ldio-vw47hwmc49k linear 1.7857142857142856s infinite;
    background: #0d2eb9;
    width: 14.05px;
    height: 25.29px;
    border-radius: 7.025px / 12.645px;
    transform-origin: 7.025px 88.515px;
}

.ldio-vw47hwmc49k div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.6369047619047616s;
}

.ldio-vw47hwmc49k div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1.488095238095238s;
}

.ldio-vw47hwmc49k div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -1.3392857142857142s;
}

.ldio-vw47hwmc49k div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -1.1904761904761905s;
}

.ldio-vw47hwmc49k div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -1.0416666666666665s;
}

.ldio-vw47hwmc49k div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.8928571428571428s;
}

.ldio-vw47hwmc49k div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.744047619047619s;
}

.ldio-vw47hwmc49k div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.5952380952380952s;
}

.ldio-vw47hwmc49k div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.4464285714285714s;
}

.ldio-vw47hwmc49k div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2976190476190476s;
}

.ldio-vw47hwmc49k div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1488095238095238s;
}

.ldio-vw47hwmc49k div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

.loadingio-spinner-spinner-qan82fuqp6 {
    width: 100%;
    height: 281px;
    padding-left: 35%;
    padding-top: 35%;
    display: inline-block;
    background: white;
}

@media (max-width: 760px) {
    .loadingio-spinner-spinner-qan82fuqp6 {
        padding-left: 20%;
        padding-top: 20%;
    }
}

@media (max-width: 450px) {
    .loadingio-spinner-spinner-qan82fuqp6 {
        padding-left: 8%;
        padding-top: 8%;
    }
}

.ldio-vw47hwmc49k {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-vw47hwmc49k div {
    box-sizing: content-box;
}