/* h1 {
	position: absolute;
	top: -140px;
	width: 100%;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
} */

.search-bar {
	position: relative;
	margin: 0 0 34px 0;
	height: 40px;
	width: 100%;
	/* font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em; */
	color: inherit;
	padding: 0;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 16px 16px 16px 60px;
	/* border: none; */
	background: white;
}

.hidden {
	display: none;
}